@font-face {
  font-family: Proxima Nova;
  src: url(fonts/ProximaNova-Regular.otf);
}
@font-face {
  font-family: PN-T;
  src: url(fonts/ProximaNova-Thin.otf);
}
@font-face {
  font-family: PN-B; 
  src: url(fonts/ProximaNova-Bold.otf);
}
@font-face {
  font-family: PN-EB; 
  src: url(fonts/ProximaNova-Extrabold.otf);
}
@font-face {
  font-family: PN-Black; 
  src: url(fonts/ProximaNova-Black.otf);
}
@font-face{
  font-family: PN-A;
  src: url(fonts/ProximaNova-AltLight.otf);
}
.pbt{
  font-family: PN-T;
} 
.pbb{
  font-family: PN-B;
}
.pbeb{
  font-family: PN-B;
}
.pbblack{
  font-family: PN-B;
}
.fnt-18{
  font-size: 18px;
}


.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: #0a2558;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 60px;
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.sidebar .nav-links {
  margin-top: 10px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
  background: #081d45;
}

.sidebar .nav-links li a:hover {
  background: #081d45;
}

.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.sidebar .nav-links li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.sidebar.active~.home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}

nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

.bx{
  font-size: 24px!important;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697ff;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #333;
}

.home-section .home-content {
  position: relative;
  padding-top: 104px;
}

.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}

.overview-boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}

.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}

.home-content .box .indicator {
  display: flex;
  align-items: center;
}

.home-content .box .indicator i {
  height: 20px;
  width: 20px;
  background: #8fdacb;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}

.box .indicator i.down {
  background: #e87d88;
}

.home-content .box .indicator .text {
  font-size: 12px;
}

.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}

.home-content .box .cart.two {
  color: #2bd47d;
  background: #c0f2d8;
}

.home-content .box .cart.three {
  color: #ffc233;
  background: #ffe8b3;
}

.home-content .box .cart.four {
  color: #e05260;
  background: #f7d4d7;
}

.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}

.home-content .sales-boxes {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales {
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .sales-boxes .sales-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sales-boxes .box .title {
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.sales-boxes .sales-details li.topic {
  font-size: 20px;
  font-weight: 500;
}

.sales-boxes .sales-details li {
  list-style: none;
  margin: 8px 0;
}

.sales-boxes .sales-details li a {
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}

.sales-boxes .box .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sales-boxes .box .button a {
  color: #fff;
  background: #0a2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sales-boxes .box .button a:hover {
  background: #0d3073;
}

/* Right box */
.home-content .sales-boxes .top-sales {
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.class-table tr th{
  font-size: 20px;
}
.class-table tr td{
  font-size: 20px;
}

.sales-boxes .top-sales li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.sales-boxes .top-sales li a img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}

.sales-boxes .top-sales li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sales-boxes .top-sales li .product,
.price {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section {
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }

  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }

  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }

  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}

@media (max-width: 700px) {

  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }

  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }

  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar.active~.home-section nav .profile-details {
    display: none;
  }
}





















*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Proxima Nova;
}
.topbar{
  width: 100%;
  padding: 10px 3%;
  /* display: flex; */
}
.tbar-logo{
  width: 190px;
  /* height: 120px; */
  /* background-color: aquamarine; */
}
.tbar-advert{
  width: calc(100% - 370px);
}
.tbar-advert1{
  width: 100%;
}
.tbar-icons{
  width: 180px;
  /* background-color: #B0E0E6; */
}
.logo{
  width: 68%;
  min-width: 110px;
}
.topbar-icons{
  width: 30px;
  margin-left: 15px;
}
.navbar1{
  width: 100%;
  display:flex;
  justify-content: space-between;
  padding: 10px 5%;
  padding-bottom: 0px;
  background-image: url("img/navbg.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
  color: white;
  /* background-color: rgb(142, 130, 130); */
}
.navbar1 .div1{
  width: 60px;
  text-align: center;
}
.div1:hover, .div2:hover, .div3:hover, .div4:hover {
  cursor: pointer;
  background-color: rgb(0,0,0,0.5);
  margin-bottom: 3px;
}
.navbar1 .div2{
  width: 87px;
  text-align: center;
}
.navbar1 .div3{
  width: 145px;
  text-align: center;
}
.navbar1 .div4{
  width: 70px;
  text-align: center;
}
.navbar-icons{
  width: 32px;
  height: 32px;
}
.opacity-div{
  width: 100%;
  height: inherit; 
  background-color: rgb(0, 0, 0,0.84);
}
.slidimg-heading{
  font-size: 90px;
  font-family: PN-EB;
  /* letter-spacing: -30; */
  /* line-height: 105; */
  font-weight: bold;
  color: goldenrod;
  text-align: center;
}
.question{
  background-color: goldenrod;
  padding: 5px 16px;
  border-radius: 50%;
  color: #000;
  font-size: 28px;
  font-family: PN-EB;
}
.why-par{
  color: #fff;
  font-family: PN-B;
  font-size: 25px;
}
.slider-cards-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider-bg-div{
  height: 750px;
}
.slid-card-cover{
  padding: 1px 15%;
}
.slid-card{
  width: 250px;
  margin-left: calc(50% - 135px);
  padding: 20px 12px;
  background-color: goldenrod;
  text-align: center;
  border-radius: 5px;
  height: 310px;
}
.slid-card .font-style1{
  font-size: 23px;
  font-family: PN-B;
  line-height: 1;
  padding-top: 4px;
}
.slid-card .font-style2{
  font-size: 18px;
  line-height: 1.6;
}
.announce-card{
  width: 350px;
  border-radius: 5px;
  border: 2px solid cornflowerblue;
  padding: 15px 12px;

}
.annouce-cardimg{
  width:100%;
  /* margin-left: 2%; */
  height: 190px;
  border-radius: 3px;
}
.announce-card button{
  background-color: cornflowerblue;
}
.announce-card .category-tags{
  border: 2px solid black;
  padding: 3px 8px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 500;
  margin: 2px;
}
.section-heading{
  font-family: PN-B;
  font-size: 55px;
}
.txt-style1{
  font-size: 25px;
}
.advert{
  width: 86%;
  margin-left: 7%;
  padding: 15px 20px;
  text-align: center;
  border: 3px solid black;
}
.snc{
  width: 96%;
  margin-left: 1%;
  background-image: url('./img/navbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  /* padding: 15px; */
}
.snc2{
  width: 92%;
  margin-left: 2%;
  background-image: url('./img/navbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  /* padding: 15px; */
}
.snc-hdr{
  width: 100%;
  /* height: 70px; */
  padding-top: 13px;
  padding-bottom: 18px;
  /* border-bottom: 1px solid white; */
}
.snc-hdr-txt{
  margin-left: 6px;
  font-size: 23px;
}
.snc-hdr-txt2{
  margin-left: 6px;
  font-size: 20px;
}
.snc-hdr-txt3{
  margin-left: 6px;
  font-size: 20px;
}
.snc-logo{
  display: inline-block;
  padding: 11px 7px;
  width: 48px;
  text-align: center;
  background-color: white;
  color: #000;
  border-radius: 50%;
  
}
.snc-main{
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}
.snc-main h6{
  font-size: 17px;
}
.snc-main h6:hover{
  font-family: PN-B;
  cursor: pointer;
}
.snc-main-inr{
  display: inline-block;
  width: 50%;
  color: white;
}
.snc-main-inr2{
  display: inline-block;
  width: 100%;
  color: white;
}
.mdcat{
  font-family: Proxima Nova;
  font-size: 11px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.feture-cdiv{
  width: 100%;
  height: inherit;
  background-color: rgb(15, 158, 255,0.75);
  padding: 0px !important;
}
.video-f1{
  width: 90%;
  height: 255px;
  margin-left: 5%;
  border-radius: 15px;
}
.gold-clr{
  color: goldenrod;
}
.subscribeinput{
  padding: 5px 10px;
  border: 2px solid goldenrod;
  border-radius: 3px;
  background-color: black;
  color: goldenrod;
}
.subscribe-btn{
  background-color: goldenrod;
}
.l-col-divnotes{
  background-image: url('./img/img6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  padding: 0px!important;
}
.r-col-divnotes{
  background-image: url('./img/img7.jpg');
  background-repeat: no-repeat;
  background-size: 100% 90vh;
  height: 60vh;
  padding: 0px!important;
}
.l-divnotes{
  width: 100%;
  background-color: rgba(0, 0, 0,0.75);
  height: inherit;
  /* opacity: 0.75; */
}
.notes-slid-heading{
  font-family: PN-B;
  color: white;
  font-size: 55px;
}
.notes-slid-heading1{
  color: white;
  font-size: 45px;
  font-weight: lighter;
}
.l-divnotes p{
  text-align: justify;
}
.search-bar-notes{
  background-color: goldenrod!important;
  border: none!important;
  color: black;
}
.bg-dark-btn{
  background-color: #000!important;
  opacity: 1!important;
}
::placeholder {
  color: black!important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black!important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black!important;
}
.notes-cls-div1{
  width: 90%;
  margin-left: 5%;
  background-image: url('./img/img8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  padding-top: 25px;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.notes-cls-div1:hover{
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.notes-cls-inr-div{
  width: 84%;
  margin-left: 8%;
  background-color: rgba(255, 255, 255, 0.65);
  /* opacity: .5; */
  height: 320px;
  margin-top: 15px;
  border: 2px solid goldenrod;
}
.notes-font-style1{
  font-size: 45px;
  font-weight: 500;
  text-align: center;
}
.collapse-div{
  width: 100%;
  background-color: #B0E0E6;
  border-radius: 5px;
}
.coll-div-hdr1{
  width: 100%;
  height: 90px;
}
.coll-div-hdr1 .l-b{
  font-size: 35px;
  font-family: PN-B;
}
.coll-div-bdy{
  width: 100%;
  padding: 21px 5%;
  /* background-color: aqua; */
  box-shadow: 0px 12px 8px 0px rgba(107, 103, 103, 0.66) inset;
  -webkit-box-shadow: 0px 12px 8px 0px rgba(107, 103, 103, 0.66) inset;
  -moz-box-shadow: 0px 12px 8px 0px rgba(107, 103, 103, 0.66) inset;
}
.coll-body-ldiv{
  width: 50%;
  display: inline-block;
}
.coll-body-ldiv h5{
  font-family: PN-B;
  font-size: 21px;
}
.coll-body-ldiv h5:hover{
  font-family: PN-EB;
  font-size: 21px;
}
.plus-btn{
  outline: none;
  border: none;
  font-family: PN-EB;
  padding: 0px 17px;
  border-radius: 50%;
  float: right;
  margin-right: 25px;
  margin-top: 14px;
}
.plus-btn2{
  outline: none;
  border: none;
  font-family: PN-EB;
  padding: 0px 20px;
  border-radius: 50%;
  float: right;
  margin-right: 25px;
  margin-top: 14px;
}
.plus-btn3{
  outline: none;
  border: none;
  font-family: PN-EB;
  padding: 0px 15px;
  border-radius: 50%;
  float: right;
  margin-right: 25px;
  /* margin-top: 14px; */
}
.plus-btn2 AiOutlineMinus{
  font-family: PN-EB;
}
.side-advert1{
  width: 92%;
  margin-left: 4%;
  border: 2px solid black;
  height: 500px;
  text-align: center;
  font-family: PN-B;
}
.side-advert1 h1{
  margin-top: 210px;
}
.horizontal-advert{
  width: 90%;
  margin-left: 5%;
  border: 2px solid black;
  text-align: center;
}
.font-style3{
  font-family: PN-B;
}
.coll-div-hdr{
  display: flex;
  width: 100%;
  height: 90px;
}
.subject-div{
  width: 100%;
  background-color: #B0E0E6;
  border-radius: 5px;
  height: 130px;
}
.r-img-div{
  display: inline-block;
  width: 135px;
}
.r-img-div img{
  width: 130px;
  height: 130px;
  /* height: ; */
}
.side-div{
  display: inline-block;
  width: calc(100% - 230px);
  /* background-color: rgb(83, 136, 182); */
  height: 130px;
}
.side-div b{
  font-size: 26px;
  font-family: PN-EB;
  color: #171762;
}
.side-div p{
  font-size: 21px;
}
.side-div button{
  background-color: #171762;
}
.div-3rd{
  width: 100px;
  /* background-color: lightgray; */
  height: 130px;
}
.div-3rd h3{
  background-color: #171762;
  color: white;
  width: 42px;
  padding: 4px 6px;
  border-radius: 50%;
  margin-left: 11px;
  margin-top: 13px;
}
.pyear{
  font-size: 29px;
  font-family: PN-B;
  /* text-align: center; */
  margin-top: 20px;
  color: #171762;
}
.cmt-links{
  font-family: PN-B;
  font-size: 35px;
}

.cmt-links .soc-link1{
  padding: 0px 6px;
  padding-top: 0px;
  padding-bottom: 5px;
  /* background-color: #000; */
  border-radius: 50%;
  border: 2px solid #0d6efd;
  margin-left: 35px;
}
.cmt-links .soc-link2{
  padding: 0px 6px;
  padding-top: 0px;
  padding-bottom: 5px;
  /* background-color: #000; */
  /* background-color: red; */
  border-radius: 50%;
  border: 2px solid red;
  margin-left: 12px;
}
.cmt-links .soc-link3{
  padding: 0px 6px;
  padding-top: 0px;
  padding-bottom: 5px;
  /* background-color: #000; */
  border-radius: 50%;
  border: 2px solid #3d4fa9;
  margin-left: 15px;
}
.cmt-links .soc-link4{
  padding: 0px 6px;
  padding-top: 0px;
  padding-bottom: 5px;
  /* background-color: #000; */
  border-radius: 50%;
  border: 2px solid #0d6efd;
  margin-left: 15px;
}
.cmt-links .soc-link5{
  padding: 0px 6px;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-left: 15px;
  background-color: gray;
  color: white;
  border-radius: 50%;
  border: 2px solid gray;
}
.comments-div{
  background-color: lightgrey;
  padding: 35px 20px;

}
.comments-heading{
  width: 100%;
  display: flex;
}
.ch-ldiv{
  width: 50%;
}
.ch-rdiv{
  width: 50%;
}
.txt-heading{
  font-family: PN-B;
  margin-left: 14px;
}
.ch-rdiv h2{
  /* margin-left: 50%; */
  float: right;
}
.single-comment{
  width: 100%;
  /* background-color: #b7b7e5; */
  display: flex;
}
.l-img-div{
  width: 140px;
  height: 130px;
  /* background-color: #B0E0E6; */
}
.l-img-div img{
  margin-top: 20px;
}
.profile{
  width: 91px;
  height: 91px;
  border-radius: 50%;

}
.r-comment-div{
  width: calc(100% - 120px);
  height: 130px;
  padding: 13px 1px;
}
.r-comment-div h5{
  font-family: PN-B;
  font-size: 25px;
}
.icons-line-comment{
  width: 100%;
  display: flex;
  font-family: PN-B;
}
.cmts-options{
  font-family: PN-EB;
  margin-right: 25px;
  /* margin-top: 25px; */
}
.load-more{
  /* /font-size: 23px; */
  font-family: PN-B;
  font-size: 25px;
  margin-top: 30px;
}
.bk-slider-hd{
  font-size: 70px;
  font-family: PN-B;
  margin-top: -480px;
}
.bk-slider-txt{
  font-size: 19px;
  padding: 10px 0;
}
.eb-heading{
  font-size: 35px;
  font-family: PN-B;
}
.option-list{
  width: 100%;
  align-items: center;
  text-align: center;
}
.option-list ul{
  list-style: none;
  padding: 25px 0;
}
.option-list ul li{
  display: inline-block;
  padding: 5px 10px;
  font-family: PN-B;
  font-size: 24px;
}
.search-cover{
  display: flex;
  width: 100%;
  justify-content: center;
}
.search-div{
  border: 2px solid black;
  padding: 30px 40px;
  border-radius: 5px;
}
.sec1-heading{
  font-size: 30px;
  font-family: PN-B;
}
.sub-sec{
  /* padding: ; */
}
.c-fr{
  float: right;
  font-size: 23px;
}
.book-card{
  width: 96%;
  text-align: center;
  padding: 25px 5px;
  border: 2px solid black;
  border-radius: 9px;
  margin-top: 20px;
  box-shadow: 1px 1px 5px 3px rgba(161, 139, 139, 0.75);
  -webkit-box-shadow: 1px 1px 5px 3px rgba(161, 139, 139, 0.75);
  -moz-box-shadow: 1px 1px 5px 3px rgba(161, 139, 139, 0.75);
}
.cover-img{
  width: 105px;
  height: 105px;
  border-radius: 50%;
  border: 3px solid black;
}
.book-card h2{
  font-family: PN-B;
}
.advert11{
  width: 100%;
  padding: 40px 30px;
  border: 2px solid black;
  text-align: center;
  margin-top: 40px;
  border-radius: 10px;
}
.top-sec{
  text-align: center;
}
.top-sec h2{
  font-size: 38px;
  font-family: PN-B;
}
.top-sec h1{
  font-family: PN-Black;
  font-size: 48px;
}
.top-sec p{
  font-size: 19px;
  font-weight: bold;
}
.sec-one{
  width: 100%;
}
.sec-hdr1{
  background-color: goldenrod;
  width: 100%;
  height: 82px;
  border-radius: 8px;
}
.sec-hdr1-icon{
  display: inline-block;
  background-color: white;
  width: 65px;
  /* height: 70px; */
  padding: 14px 15px;
  margin-left: 20px;
  border-radius: 50%;
  margin-top: 10px;
}
.sec-hdr-txt{
  font-size: 23px;
  font-weight: bolder;
  margin-left: 25px;
  font-family: PN-B;
}
.test-link{
  width: 100%;
  padding: 9px 20px;
  background-color: #1E90FF;
  border-radius: 6px;
}
.side-advert1{
  border: 2px solid black;
  border-radius: 4px;
  height: 500px;
  width: 90%;
  margin-left: 5%;
  margin-top: 100px;
}
.news-slid{
  width: 100%;
  height: 60vh;
  background-image: url('./img/newsslider.png');
  background-repeat: no-repeat;
  background-size: cover;

}
.padding-zero{
  padding: 0!important;
}
.news-opcity-div{
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0,0.55);
}
.news-searchbar{
  width: 430px;
  align-items: center;
  padding-top: 26vh;
  margin-left: calc(50% - 215px);
}
.news-searchbar input{
  background-color: #3d4fa9;
  border: none;
  padding: 9px 25px;
  color: white;
}
.popular-topics{
  width: 100%;
}
.popular-topics div{
  border-right: 1px solid black;
  text-align: right;
}
.popular-topics h2{
  text-align: right;
  font-family: PN-B;
  font-size: 29px;
}
.popular-topics ul{
  list-style: none;
}
.popular-topics ul li{
  font-size: 19px;
  font-family: PN-B;
}
.news-card1{
  width: 96%;
  margin-left: 2%;
  /* padding: 25px 5px; */
  border: 2px solid black;
  border-radius: 9px;
  margin-top: 25px;
  box-shadow: 1px 1px 5px 3px rgba(161, 139, 139, 0.75);
  -webkit-box-shadow: 1px 1px 5px 3px rgba(161, 139, 139, 0.75);
  -moz-box-shadow: 1px 1px 5px 3px rgba(161, 139, 139, 0.75);
}
.news-card1 img{
  width: 100%;
  height: 190px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.news-card-innerdiv{
  padding: 15px 15px;
}
.news-card-innerdiv h3{
  font-family: PN-B;
  font-size: 32px;
}
.news-card-innerdiv h3 b{
  float: right;
  padding-right: 10px;
}
.news-detail{
  width: 100%;
}
.news-detail h1{
  font-family: PN-B;
  font-size: 45px;
}
.news-detail h1 b{
  float: right;
  padding-right: 20px;
}
.news-detail h2{
  font-family: PN-A;
  font-size: 38px;
}
.news-detail img{
  width: 100%;
  /* height: 550px; */
}
.news-detail p{
  font-size: 19px;
  line-height: 1.6;
  padding-top: 40px;
  text-align: justify;
}
.vertical-advert{
  width: 90%;
  margin-left: 5%;
  height: 550px;
  text-align: center;
  margin-top: 200px;
  border: 2px solid black;
}
.vertical-advert h1{
  margin-top: 240px;
}
.news-btm{
  width: 100%;
}
.news-btm h2{
  font-size: 38px;
  font-family: PN-B;
}
.relatec-news{
  width: 94%;
  border: 2px solid black;
  box-shadow: 1px 1px 5px 3px rgba(161, 139, 139, 0.75);
  -webkit-box-shadow: 1px 1px 5px 3px rgba(161, 139, 139, 0.75);
  -moz-box-shadow: 1px 1px 5px 3px rgba(161, 139, 139, 0.75);
}
.relatec-news img{
  width: 100%;
  height: 142px;
}
.related-news-inner{
  width: 100%;
  padding: 2px 5px;
}
.related-news-inner h3{
  font-size: 25px;
  font-family: PN-B;
}
.news-topics b{
  padding: 3px 10px;
  border: 2px solid black;
  border-radius: 18px;
  margin-right: 15px;
}
.cn-slid{
  height: 400px;
  padding: 0!important;
  background-image: url('./img/img1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.cn-slid div{
  background-color: rgba(0, 0, 0,0.75);
  width: 100%;
  height: inherit;
}
.cn-slid div h1{
  color: white;
  font-size: 75px;
  font-family: PN-B;
  text-align: center;
  padding-top: 133px;
}
.notes-subjects{
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
}
.subject-note-card{
  width: 21%;
  /* border: 2px solid black; */
  text-align: center;
  box-shadow: 1px 1px 5px 3px rgba(161, 139, 139, 0.75);
  -webkit-box-shadow: 1px 1px 5px 3px rgba(161, 139, 139, 0.75);
  -moz-box-shadow: 1px 1px 5px 3px rgba(161, 139, 139, 0.75);
  padding: 20px 12px;
  border-radius: 5px;
  height: 240px;
  float: left;
  margin-left: 3%;
  margin-top: 25px;
}
.sub-nc1{
  border-top: 6px solid #0d6efd;
  border-bottom: 6px solid #0d6efd;
}
.sub-nc1 h2{
  color: #0d6efd;
  font-family: PN-B;
  font-size: 26px;
}
.sub-nc2{
  border-top: 6px solid black;
  border-bottom: 6px solid black;
}
.sub-nc2 h2{
  color: black;
  font-family: PN-B;
}
.sub-nc3{
  border-top: 6px solid #171762;
  border-bottom: 6px solid #171762;
}
.sub-nc3 h2{
  color: #171762;
  font-family: PN-B;
}
.sub-nc4{
  border-top: 6px solid darkgreen;
  border-bottom: 6px solid darkgreen;
}
.sub-nc4 h2{
  color: darkgreen;
  font-family: PN-B;
}
.sub-nc10{
  border-top: 6px solid green;
  border-bottom: 6px solid green;
}
.sub-nc10 h2{
  color: black;
  font-family: PN-B;
}
.sub-nc11{
  border-top: 6px solid blue;
  border-bottom: 6px solid blue;
}
.sub-nc11 h2{
  color: blue;
  font-family: PN-B;
}

.sub-nc12{
  border-top: 6px solid rgb(176, 59, 59);
  border-bottom: 6px solid darkgreen;
}
.sub-nc12 h2{
  color: rgb(176, 59, 59);
  font-family: PN-B;
}

.sub-nc13{
  border-top: 6px solid rgb(45, 135, 192);
  border-bottom: 6px solid rgb(45, 135, 192);
}
.sub-nc13 h2{
  color: rgb(45, 135, 192);
  font-family: PN-B;
}

.sub-nc14{
  border-top: 6px solid #18235d;
  border-bottom: 6px solid #18235d;
}
.sub-nc14 h2{
  color: #18235d;
  font-family: PN-B;
}

.sub-nc15{
  border-top: 6px solid rgb(176, 59, 59);
  border-bottom: 6px solid rgb(176, 59, 59);
}
.sub-nc15 h2{
  color: black;
  font-family: PN-B;
}

.sub-nc16{
  border-top: 6px solid rgb(111, 108, 108);
  border-bottom: 6px solid rgb(111, 108, 108);
}
.sub-nc16 h2{
  color: black;
  font-family: PN-B;
}

.sub-nc17{
  border-top: 6px solid rgb(220, 168, 35);
  border-bottom: 6px solid rgb(220, 168, 35);
}
.sub-nc17 h2{
  color: black;
  font-family: PN-B;
  font-size: 26px;
}
.cn-font12{
  text-align: center;
  font-size: 45px;
  font-family: PN-B;
}
.subject-note-card img{
  width: 90px;
  border-radius: 50%;
  border: 3px solid #171762;
}
.p-heading{
  text-align: center;
  font-family: PN-B;
  font-size: 40px;
}
.p-tog-div{
  display: flex;
  justify-content: center;
}
.paper-tog-btn{
  outline: none;
  border: none;
  background-color: transparent;
  font-family: PN-B;
  font-size: 30px;
  color: gray;
  padding: 5px 12px;
}
.ts-thead{
  width: 100%;
}
.ts-thead b{
  margin-left: 35px;
  background-color: goldenrod;
  width: 100%;
  /* padding-top: 32px; */
}
.ts-icon-div{
  position: relative;
  top: 89px;
}
.ts-icon-div2{
  position: relative;
  top: -81px;
}
.ts-thead-txt{
  padding: 17px 10px;
  padding-left: 108px;
  width: 100%;
  font-family: PN-B;
  font-size: 29px;
  /* background-color: goldenrod; */
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.table-div-cvr{
  width: 100%;
}
.two-table-cover{
  width: 100%;
  /* background-color: #0d6efd; */
  min-height: 250px;
  position: relative;
  top: -30px;
}
.table-div{
  width: 25%;
  display: inline-block;
  min-height: 700px;
  /* min-height: 330px; */
}
.table-div2 {
  width: 50%;
  display: inline-block;
  min-height: 500px;
}
.table-div3 {
  width: 100%;
  display: inline-block;
  min-height: 500px;
}
.table1{
  border-radius: 14px;
  width: 100%;
  font-family: PN-B;
  /* display: inline-block; */
}
.table1 th{
  padding: 9px 14px;
  color: white;
  font-size: 19px;
  width: 281px;
}
.table2{
  width: 96%;
}
.tbl2-lft{
  margin-left: 4%;
}
.table1 td{
  padding: 5px 14px;
  color: #18235d;
  font-family: PN-B;
  border-top: 1px solid #18235d;
}
.table1 tr{
  border-bottom: 1px solid #18235d;
  border-right: 1px solid #18235d;
  border-left: 1px solid #18235d;
}

.ss-slid{
  width: 100%;
  height: 350px;
  background-color: #1E90FF;
}
.ss-slid h1{
  font-family: PN-B;
  font-size: 75px;
  color: white;
  text-align: center;
  padding-top: 97px;
  margin-left: 32%;
}

.minus-link-btn{
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 1px 16px;
  float: right;
}
.plus-link-btn{
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 1px 13px;
  float: right;
}
.ns-icons-div{
  display: flex;
  width: 100%;
  justify-content: center;
}
.ns-single-icon{
  background-color: #18235d;
  border-radius: 5px;
  color: white;
  width: 120px;
  text-align: center;
  height: 125px;
  padding-top: 30px;

}
.ns-single-icon b{
  font-weight: normal;
}
.nav-resp{
  padding-left: 100px!important;
}
.fw-700{
  font-weight: 700!important;
}



















@media only screen and (max-width: 1400px){
  .nav-resp{
    padding-left: 0px!important;
  }
}


@media only screen and (max-width: 768px) {
  .table-div{
    width: 50%;
  }
  .section-heading{
  font-family: PN-B;
  font-size: 45px;
}
    /* .ts-thead-txt {
      padding: 17px 10px;
      padding-left: 108px;
      width: 100%;
      font-family: PN-B;
      font-size: 2px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    } */
}

@media only screen and (max-width: 600px){
  .ts-thead-txt b{
    display: none;
  }
    .section-heading {
      font-family: PN-B;
      font-size: 35px;
    }
}


.fnt-w900{
  font-weight: 900;
}
.fnt-w900 b{
  float: right;
  font-size: 19px;
}
.ss-li:hover{
  cursor: pointer;
  font-weight: bold;
}
.tab-ss-td:hover{
  cursor: pointer;
  /* font-size: 17px; */
  padding-left: 10px;
}






















































@media screen and (max-width: 1400px) {
  .snc2{
    width: 96%;
    margin-left: 1%;
  }
}
@media screen and (max-width: 1200px) {
  .slid-card-cover{
    padding: 2px 10%;
  }
}
@media screen and (max-width: 992px) {
  .slid-card-cover{
    padding: 2px 5%;
  }
}
@media screen and (max-width: 850px) {
  .slid-card-cover{
    padding: 2px 4%;
  }
  .slid-card{
    width: 237px;
    padding: 20px 5px;
  }
}

@media screen and (max-width: 768px) {
  .l-col-divnotes{
    height: 50vh;
  }
  .tbar-icons {
    width: 180px;
    float: right;
    /* background-color: #B0E0E6; */
  }
  .r-col-divnotes{
    height: 50vh;
  }
  .notes-slid-heading {
    font-size: 35px;
  }
  .slider-bg-div{
    height: 145vh;
  }
  .slidimg-heading{
    font-size: 45px;
  }
  .slid-card-cover{
    padding: 2px 10%;
  }
  .slid-card{
    width: 74%;
    margin-left: 13%;
    padding: 20px 5px;
    height: 230px;
    margin-top: 15px;
  }
  .snc, .snc2{
    width: 100%;
    margin-left: 0px;
  }
  
}


@media screen and (max-width: 575.5px) {
  .topbar {
    padding: 10px .5%;
  }
  /* .tobbar-labels{
    display: none;
  } */
  .tbar-advert {
    width: calc(100% - 270px);
  }
  
  .tbar-icons {
    width: 180px;
    float: right;
    /* background-color: #B0E0E6; */
  }
  .navbar1{
    padding: 10px 4%;
    padding-bottom: 0px;
  }
  .slidimg-heading {
    font-size: 37px;
  }
  .slid-card-cover {
    padding: 2px 3%;
  }
  .slid-card {
    width: 92%;
    margin-left: 4%;
    padding: 20px 5px;
    height: 230px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 475.5px) {
  .topbar {
    padding: 10px .1%;
  }
  .logo{
    min-width: 96px;
    margin-top: 5px;
  }
  .topbar-icons{
    width: 27px;
    height: 27px;
  }
    .section-heading {
      font-family: PN-B;
      font-size: 30px;
    }
  /* .tobbar-labels{
    display: none;
  } */
  .navbar1 {
    padding: 10px 1%;
    padding-bottom: 0px;
  }
  .navbar-icons{
    width: 29px;
    height: 29px;
  }
  .navbar1 div h5{
    font-size: .9rem;
  }
  .navbar1 .div1{
    width: 45px;
    
  }
  .navbar1 .div3{
    width: 120px;
  }
  .navbar1 .div2{
    width: 70px;
  }
  .navbar1 .div4{
    width: 54px;
  }
}
@media screen and (max-width: 401.5px) {
  .logo {
    min-width: 88px;
    margin-top: 8px;
  }
  /* .tobbar-labels {
    display: none;
  } */
  .navbar1 {
    padding: 10px 1%;
    padding-bottom: 0px;
  }
}